* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Malgun Gothic, sans-serif;
}
a {
    text-decoration: none;
    counter-reset: #000000;
}
.container {
    width: 460px;
    margin: 0 auto;
}
body {
    background-color: #F5F6F7;
}
.input_area input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin-bottom: 5px;
    border: 2px solid #00FF00;
    outline: 0;
}
.input_area input:focus {
    border: 2px solid #FF8800;
}
header {
    text-align: center;
    padding: 100px 0 50px;
}
.gubun_desc {
    font-weight: 900;
}
.gubun {
    margin-bottom: 5px;
}
.btn_signin {
    width: 100%;
    height: 60px;
    margin: 15px 0;
    background-color: #00FF00;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
    line-height: 60px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}
footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.join, .find {
    width: 49%;
}
.title {
    font-size: 12px;
    font-weight: bold;
}
.desc {
    margin-top: 5px;
    font-size: 10px;
    color: #777777;
}
.btn_footer {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #007777;
    color: #FFFFFF;
    margin: 5px auto 0;
}